body {
    font-family: Arial, sans-serif;
    background: #f2f6ff;
    margin: 0;
    padding: 0;
}

h2 {
    background: #0057ff;
    color: white;
    padding: 12px;
}

form, .box {
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    max-width: 400px;
}

input, button, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid #aaa;
}

button {
    background: #0057ff;
    color: white;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

button:disabled {
    background: #aaa;
    cursor: not-allowed;
}

a {
    color: #0057ff;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
